@import './styles/Table.css';
@import './styles/infobox.css';

* {
  margin: 0px;
}

body {
  background-color: #d1faf8;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__left {
  flex: 0.9;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.app__header h1 {
  color: rgb(109, 108, 108);
}

.app__stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1100px) {
  .app {
    flex-direction: column;
  }
}

.linegraph{
  height: 275px;
}